.App {
    text-align: center;
    margin-top: 2rem;
}

.btns.is-center {
    justify-content: center !important;
    margin-top: 8.2rem;
}

.is-primary {
    margin-right: 0.2rem;
}

.is-link {
    margin-left: 0.2rem;
}
